---
apiVersion: v1
kind: Secret
metadata:
  name: azure-credentials
  namespace: external-secrets
stringData:
  # Azure Workload Identity credentials will be mounted by the pod
  # This secret is created during bootstrap to store configuration
  client-id: "${AZURE_CLIENT_ID}"
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes/sops/SOPS_PRIVATE_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://kubernetes/cloudflare/CLOUDFLARE_TUNNEL_ID
