---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clustersecretstore_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: azure-keyvault
spec:
  provider:
    azurekv:
      authType: "WorkloadIdentity"
      vaultUrl: "${AZURE_KEYVAULT_URL}"
      tenantId: "${AZURE_TENANT_ID}"
